/* Header */

.col-sm-4 {
  border-top: black solid 2px;
  text-align: center;

}

#leftCol {
  border-right:2px solid #000;
}

#rightCol {
  border-left:2px solid #000;
}

.col-sm-2 {
  border-top: black solid 2px;
  text-align: center;
  white-space: nowrap;

}

.col-sm-1 {
  border-top: black solid 2px;
  text-align: center;

}

#player1score {
  font-size: 18pt;
}

#scoreboard {
  font-size: 3vw;
}

#startButton {
  background-color: white;
  color: black;
  border: black 1px;
  border-style: dotted;
  margin-bottom: 10px;
  text-align: center;
}

#resetButton {
  background-color: white;
  color: black;
  border: black 1px;
  border-style: dotted;
  margin-bottom: 10px;
  text-align: center;
}

#resetButton:hover {
  background-color: #527fa9;
  color: white;
}

#newGameButton {
  background-color: white;
  color: black;
  border: black 1px;
  border-style: dotted;
  margin-bottom: 10px;
  text-align: center;
}

#newGameButton:hover {
  background-color: #527fa9;
  color: white;
}

/* TicTacToe Table */
table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

/* Each square in the table */
.square{
  width:200px;
  height:200px;
  text-align: center;
  font-size: 7vw;
}

/* Vertical lines of table */
.vertical{
  border-left:3px solid black;
  border-right:3px solid black;
}

/* Horizontal lines of table */
.horizontal{
  border-top:3px solid black;
  border-bottom:3px solid black;
}
